<div class="container">
  <div class="container-inner inner-default clearfix">
    <% rank_in_items.each do |item| %>
      <div class="item-box-wrapper">
        <div class="item-box ranking">
          <div class="image">
            <div class="img-wrap">
              <% if item.large_image.present? %>
                <%= image_tag(item.large_image , alt: item.title) %>
              <% else %>
                <%= image_tag("no-image.png" , alt: item.title) %>
              <% end %>
            </div>
          </div>
          <div class="detail">
            <p class="title">
              <%= item.title %>
            </p>
          </div>
          <%= render 'items/action' , item: item if logged_in? %>
        </div>
        <div class="item-profile">
          <%= link_to(item) do %>
            <%= context.downcase %> <span class="badge"><%= item.rank(context) %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
